body {
    background-color: #609EB1;
}
body img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
* {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
header {
    height:70px;
    width: 100%;
    background-color:#50829E;
}

.container img {
    width: 70px;
    height: 50px;
    margin-left: 23px;
    margin-top: 10px;
}

header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: 0.3s;
}
header ul li a:hover {
	color:#FF5733;
}
a {
	text-decoration: none;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ig h2 {
    position: absolute;
    margin-top: 50px;
    margin-left: 20%;
}
.ig h2 a:hover {
    color:white; 
}

.mail h2 {
    margin-top: 50px;
    float: right;
    margin-right: 17%;
}
.mail h2 a:hover {
    color:white; 
}
.fb h2 {
    margin-top: 200px;
    margin-left: 20%;
}
.fb h2 a:hover {
    color:white; 
}
.telpon h2 {
    margin-top: -30px;
    float: right;
    margin-right: 18%;
}
.telpon h2 a:hover {
    color:white;
}
.ig img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 40%;
    margin-top: 40px;
}
.ig img:hover {
    transform: scale(1.2,1.2);
    transition: 0.3s;
}

.mail img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 55%;
    margin-top: 40px;
}
.mail img:hover {
    transform: scale(1.2,1.2);
    transition: 0.3s;
}

.fb img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 40%;
    margin-top: -40px;
}
.fb img:hover {
    transform: scale(1.2,1.2);
    transition: 0.3s;
}

.telpon img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 55%;
    margin-top: -40px;
}
.telpon img:hover {
    transform: scale(1.2,1.2);
    transition: 0.3s;
}
footer {
	background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100%;
}
footer small {
	color: #fff;
}