body {
    background-color: black;
}
body img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
* {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
header {
    height:70px;
    background-color:#A0604C;
}
header form {
    float: right;
    padding: 20px;
}
.search {
    padding:8px 15px;
    background:rgba(255, 255, 255, 0.2);
    border:0px solid #dbdbdb;
    border-radius: 20px;
}
.button {
    padding:6px 15px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
    border-radius: 10px;
}
.button:hover  {
    background-color:#FF5733;
}
.container {
	width:90%;
	margin:0 auto;
}
.container img {
    width: 70px;
    height: 50px;
    margin-left: -40px;
    margin-top: 10px;
}

.tulisan h2 {
    color: white;
    text-align: center;
    margin-top: -35%;
    font-size: 30px;
    margin-bottom: 20px;
}
.tulisan p {
    color: white;
    text-align: center;
    font-size: 25px;
}
.tulisan span {
    color: white;
}
.menu {
    height: 70px;
}
.menu ul {
    text-align: center;
    padding-top: 30%;
}
.menu ul li {
    margin: 20px;
    display: inline-block;
}
.menu ul li a {
    transition: 0.3s;
}
.menu ul li a:hover {
    color:#FF5733;
}
a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.banner {
    background-color: #422F2F;
    margin-top: 31%;
    margin-bottom: auto;
}
section {
	padding:20px 0;
}
.satu {
    background-color: #A0604C;
    opacity: 83%;
    margin-bottom: 100px;
}
.satu h3 {
    position: absolute;
    line-height: 57px;
    color: #000000;
    left: 600px;
    font-weight: bold;
    font-size: 28px;
    transition: 0.3s;
}
.satu h3:hover {
    color: cyan;
}
.satu h3::after {
	content: '';
	display: block;
    position: absolute;
	bottom: -1px;
	width:900px;
	height:4px;
    background-color:red;
	left: calc(50% - 475px);
}
.satu p {
    position: absolute;
    font-size: 26px;
    color: #FFFBFB;
    left: 580px;
    line-height: 43px;
    margin-top: 150px;
    transition: 00.3s;
}
.satu p:hover {
    color: cyan;
}
.satu img {
    height: 323px;
    width: 505px;
    left: -2038px;
    top: 1163px;
    border-radius: 0px;
    transition: 0.3s;
}
.satu a:hover img {
    transform: scale(1.1,1.1);
    transition: 0.3s;
}
.dua {
    background-color: rgba(160, 96, 76, 0.53);
    opacity: 83%;
    margin-bottom: 10px;
    margin-top: -70px;
}
.dua h3 {
    position: absolute;
    line-height: 57px;
    color: #000000;
    left: 600px;
    font-weight: bold;
    font-size: 28px;
    transition: 0.3s;
}
.dua h3:hover {
    color: cyan;
}
.dua h3::after {
	content: '';
	display: block;
    position: absolute;
	bottom: -1px;
	width:900px;
	height:4px;
    background-color:red;
	left: calc(50% - 475px);
}
.dua p {
    position: absolute;
    font-size: 26px;
    color: #FFFBFB;
    left: 580px;
    line-height: 43px;
    margin-top: 100px;
    transition: 00.3s;
}
.dua p:hover {
    color: cyan;
}
.dua img {
    height: 323px;
    width: 505px;
    left: -2038px;
    top: 1163px;
    border-radius: 0px;
    transition: 0.3s;
    transform: rotate(-180deg);
}
.dua a:hover img {
    transform: scale(1.1,1.1) rotate(-180deg);
    transition: 0.3s;
}
footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
}
footer small {
	color: #fff;
}

@media (max-width: 720px){
    header {
        position: inherit;
	}
    .search {
        margin-top: 15px auto;
        position: absolute;
        left: 50%;
        width: 80px;
    }
    .container img {
        width: 60px;
        height: 40px;
        margin-left: 15px;
        margin-top: 15px;
    }
    .menu {
        height: 70px;
    }
    .menu ul {
        text-align: center;
        padding-top: 30%;
    }
    .menu ul li{
        margin: -5px;
    }
    a {
        margin: 10px;
    }
    section {
        padding: 10px 0;
    }
    .tulisan h2{
        font-size: 20px;
    }
    .tulisan p{
        font-size: 15px;
    }
    .satu {
        margin-top: 10px;
    }
    .satu img {
        height: 50%;
        width: 50%;
        margin-top: 2px;
        margin-left: -15px;
    }
    .satu h3 {
        position: absolute;
        left: 50%;
        font-size:30% ;
        margin-top: -10%;
    }
    .satu h3::after {
        width: 100%;
        left: 0%;
    }
    .satu p {
        position: absolute;
        left: 50%;
        font-size: 30%;
        margin-top: 7%;
        line-height: 300%;
    }
    .dua img {
        height: 50%;
        width: 50%;
        margin-top: -2%;
    }
    .dua h4 {
        position: absolute;
        left: 50%;
        font-size: 60%;
        margin-top: -2%;
    }
    .dua h4::after {
        width: 100%;
        left: 0%;
    }
    .dua p {
        position: absolute;
        left: 50%;
        font-size: 50%;
        margin-top: 7%;
        line-height: 300%;
    }
}